<form [formGroup]="form">
  <div>
    <label for="username">
      Username
      <input formControlName="username" type="text" id="username" />
    </label>
    <div *ngIf="username?.touched && username?.invalid">
      <div *ngIf="username?.errors?.['required']">Username is required</div>
      <div *ngIf="username?.errors?.['minlength']">
        Username is should be minimum
        {{username?.errors?.['minlength'].requiredLength}} characters
      </div>
      <div *ngIf="username?.errors?.['cannotContainSpace']">
        Username cannot contain space
      </div>
    </div>
  </div>
  <div>
    <label for="password">
      Password
      <input formControlName="password" type="text" id="password" />
    </label>
  </div>
  <button>Login</button>
</form>
