<form #f="ngForm" (ngSubmit)="submit(f)">
  <!-- When we use for in label and give it the id of input, when we click it's gonna focus input -->
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div>
      <label for="firstName">First Name</label>
      <input
        class="inputs"
        required
        ngModel
        name="firstName"
        minlength="3"
        maxlength="10"
        pattern="banana"
        #firstName="ngModel"
        (change)="log(firstName)"
        id="firstName"
        type="text"
      />
      <div *ngIf="firstName.touched && !firstName.valid">
        <div *ngIf="firstName.errors?.['required']">First name is required</div>
        <div *ngIf="firstName.errors?.['minlength']">
          First name should be minimum
          {{firstName.errors?.['minlength'].requiredLength}} characters
        </div>
        <div *ngIf="firstName.errors?.['maxlength']">
          First name should be maximum
          {{firstName.errors?.['maxlength'].requiredLength}} characters
        </div>
        <div *ngIf="firstName.errors?.['pattern']">
          First name must match 'banana'
        </div>
      </div>
    </div>
  </div>
  <div>
    <label for="comments">Comments</label>
    <input ngModel name="comments" id="comments" type="text" />
  </div>
  <div>
    <label>
      <input ngModel name="isSubscribed" type="checkbox" />Subscribe to mailing
      list
    </label>
  </div>
  <div *ngFor="let method of contactMethods">
    <label>
      <input ngModel type="radio" name="contactMethod" [value]="method.id" />
      {{method.name}}
    </label>
  </div>
  <div>
    <label for="contactMethod">Contact Method</label>
    <select ngModel name="contactMethod" id="contactMethod">
      <!-- if we want to select multiple, we can add multiple attribute to the select -->
      <option value=""></option>
      <option *ngFor="let method of contactMethods" [value]="method.id">
        <!-- if you want to send complex object you [ngValue]="method" otherwise [value] -->
        {{ method.name }}
      </option>
    </select>
  </div>
  <p>{{ f.value | json }}</p>
  <button [disabled]="!f.valid">Submit</button>
</form>
