<form [formGroup]="form">
  <div>
    <label for="">Old Password</label>
    <input formControlName="oldPassword" type="password" />
    <div *ngIf="oldPassword?.touched && oldPassword?.invalid">
        <div *ngIf="oldPassword?.errors?.['required']">Old password is required</div>
        <div *ngIf="oldPassword?.errors?.['invalidOldPassword']">Old password is invalid...</div>
    </div>
</div>
<div>
    <label for="">New Password</label>
    <input formControlName="newPassword" type="password" />
    <div *ngIf="newPassword?.touched && newPassword?.invalid">
        <div *ngIf="newPassword?.errors?.['required']">New password is required</div>
    </div>
</div>
<div>
    <label for="">Confirm Password</label>
    <input formControlName="confirmPassword" type="password" />
    <div *ngIf="confirmPassword?.touched && confirmPassword?.invalid">
        <div *ngIf="confirmPassword?.errors?.['required']">Confirm password is required</div>
    </div>
    <div *ngIf="confirmPassword?.valid && form.invalid && form?.errors?.['passwordShouldMatch']">Password do not match.</div>
  </div>
  <button>Change Password</button>
</form>
