<!-- <app-favorite
  [isFavorite]="post.isFavorite"
  (change)="onFavoriteChange($event)"
></app-favorite>
<panel>
  <ng-container class="heading">Heading</ng-container>
  <div class="body">
    <h1>Body</h1>
    <p>some content here...</p>
  </div>
</panel>

<app-assignment-like
  [isLikeSelected]="post.isFavorite"
  (likeChangedLog)="onLikeChange($event)"
></app-assignment-like>

<app-like [likeCount]="tweet.likedCount" [isLiked]="tweet.isLiked"></app-like>

<p>--------------------------------------------</p>

<div *ngIf="courses.length > 0; then isCourses; else noCourses"></div>
<ng-template #isCourses>Courses available</ng-template>
<ng-template #noCourses>No courses available</ng-template>

<p>--------------------------------------------</p>

<div [hidden]="courses.length === 0">Courses available</div>
<div [hidden]="courses.length > 0">No courses available</div>

<p>--------------------------------------------</p>

<div class="selections">
  <div
    [class.active]="viewMode == 'selection1'"
    class="selection1"
    (click)="viewMode = 'selection1'"
  >
    selection1
  </div>
  <div
    [class.active]="viewMode == 'selection2'"
    class="selection2"
    (click)="viewMode = 'selection2'"
  >
    selection2
  </div>
</div>

<div [ngSwitch]="viewMode">
  <p *ngSwitchCase="'selection1'" class="p1">selection one activated</p>
  <p *ngSwitchCase="'selection2'" class="p2">selection two activated</p>
  <p *ngSwitchDefault class="p2">no Selection</p>
</div>

--------------------------------------------------
<button (click)="addCourse()">Add Course</button>
<ul>
  <li *ngFor="let course of courses; trackBy: trackCourse; even as isEven">
    {{ course.name }} <span *ngIf="isEven">(EVEN)</span
    ><button (click)="removeCourse(course)">remove</button>
  </li>
</ul>

<p>--------------------------------------------</p>

<button (click)="loadCourse()">Load course</button>
<input type="text" [appInputFormat]="'uppercase'" />

<p>--------------------------------------------</p>
<zippy [title]="title">Shipping Detail Content</zippy> -->
<!-- <zippy title="Billing Details">Billing Detail Content</zippy> -->

<!-- <app-course />
<h1>{{ authors.length }} Authors</h1>
<ul>
  <li *ngFor="let author of authors">{{author}}</li>
</ul> -->

<!-- <app-contact-form /> -->
<!-- <app-new-course-form /> -->
<!-- <app-login-form /> -->
<!-- <app-new-course-component/> -->
<app-change-password />
